// Place all the styles related to the tides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tide-info {
    height: 200px;

    img.tide-img {
        height: 200px;
        width: 200px;
    }
    .tide-name {
        position: relative;
        top: -200px;
        left: 75px;
        color: white;
        border-bottom: 1px solid white;
        font-size: 2em;
        width: 2em;
        line-height: 1em;
        margin: 0;
        margin-top: 3.3em;
    }
}
.tide-relation-info {
    padding-right: 20px;
    .moon-age {
        border-bottom: 1px dotted #dcdcdc;
        img {
            width: 75px;
            height: 75px;
        }
        span {
            font-size: 1.8em;
        }
    }
    .sun-rise {
        border-bottom: 1px dotted #dcdcdc;
        img {
            width: 75px;
            height: 75px;
        }
        span {
            font-size: 1.8em;
        }
    }
    .sun-set {
        border-bottom: 1px dotted #dcdcdc;
        img {
            width: 75px;
            height: 75px;
        }
        span {
            font-size: 1.8em;
        }
    }
}
.weather-info {
    padding-right: 20px;
    .no-information {
        margin-top: 20px;
    }
    div {
        height: 75px;
    }
    .forecast {
        border-bottom: 1px dotted #dcdcdc;
        img {
            width: 75px;
            height: 75px;
        }
        span {
            font-size: 1.8em;
        }
        span.unit {
            image {
                width: 55px;
                height: 55px;
            }
        }
    }
    .temprature {
        border-bottom: 1px dotted #dcdcdc;
        img {
            width: 75px;
            height: 75px;
        }
        span {
            font-size: 1.8em;
        }
        .max {
            color: red;
        }
        .min {
            color: blue;
        }
    }
    .other-link {
        padding-top: 30px;
        text-align: right;
        a {
            font-size: 1.0em;
        }
    }
}


